extends layout

block content 
    h1 Register
    form(method='POST', action='/users/signup')
        #form-group
            label First Name:
            input.form-control(name='firstname', type='text')
        #form-group
            label Last Name:
            input.form-control(name='lastname', type='text')
        #form-group
            label username:
            input.form-control(name='username', type='text')
        #form-group
            label Password:
            input.form-control(name='password', type='text')
        br
        input.btn.btn-primary(type='submit', value= 'Submit')
                